*{
    margin:0;
    padding:0;
}

body{
    background:rgb(22, 23, 24);
}

header{
    width:100%;
    background:#fff;
    color:rgb(43, 43, 43);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    padding:20px 0;
}

.container{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
}

.card{
    background:#fff;
    width:280px;
    color:rgb(43, 43, 43);
    text-align: justify;
    font-family: 'Courier New', Courier, monospace;
    padding:20px 20px;
    margin:20px;
    border-radius:6px;
}
.card p{
    padding:15px 0;
    color:rgba(0,0,0,.5);
}
.card .button{
    display:block;
    text-align: center;
}

.card .button button{
    padding:10px 20px;
    background:rgb(228, 208, 35);
    border-radius:4px;
    outline:none;
    border:none;
    color:rgb(56, 56, 56);
    font-weight:bold;
    cursor:pointer;
}